.myplants__list {
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.myPlantsTitle {
    margin: auto;
    padding: 2em;
    text-align: center;
    color: rgb(32,37,41);
    font-size: 3em;
}