



.plant {
    flex-basis: 25%;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
    border: ridge aqua;
    background-color: greenyellow;
    font-style: bold;
    width: 270px;
    min-width: 10rem;
    border-radius: 5px;
    align-items: center;
    font-family: fantasy;
    color:black;
    box-shadow: 0px 0px 8px 1px rgba(91, 99, 102, 0.098); 
    
}



.plant__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: initial;
    overflow: hidden;
    border-radius: 7px 7px 0 0;
}

.plants {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3em;
}

.listTitle {
    margin:auto;
    padding: 2em;
    text-align: center;
    color: aquamarine;
}
.listName {
    margin: auto;
    padding: 2em;
    text-align: center;
    color: lime;
    font-size: 3em;
    
}
.listP {
    text-align: center;
    color: yellowgreen;
}
.button__addPlant {
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: darkolivegreen;
    color: yellowgreen;
    margin-left: 4em;
    border-radius: 10px;
    width: 5em;
    height: 5em;
    font-size: 10px;
}


.plantbutton_edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0.3rem;
    padding: 1em;
    color: white;
    background-color:darkslategray;
    border-radius: 4px;
    padding: 8px 12px;
    border: #2e6da4;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    
}
.plantbutton_edit:hover {
    background-color: darkolivegreen;
}

.plantbutton__delete  {
    margin:0.3rem;
    padding: 1em;
    color: white;
    background-color:darkslategray;
    border-radius: 4px;
    padding: 8px 12px;
    border: #2e6da4;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;

}
.plantbutton__delete:hover {
    background-color:brown;
}
.input--wide {
    background-color: lightgreen;
    margin: 1em;
}

.plantForm {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-style: ridge;
    align-items: center;
    width: 250px;
    margin:auto;
    padding: 1em;
    background-color:green;
}


.search {
    color:black;
    margin:1em;
}
.deletePlant_button:disabled {
   background-color: aquamarine; 
   border: none;
}

.plantform {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-style: ridge;
    align-items: center;
    width: 250px;
    margin: auto;
    padding: 1em;
    background-color:green;
}
.plantForm__title {
    text-align: center;
}
.btn plantform {
    display: flex;
    align-items: center;
}