.gardenTitle {
    text-align: center;
}

.cardTips {
    display: flex;
    width: 50em;
    height: 30em;
    justify-content: space-around;
    align-items: center;
}

.cardOne {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    padding: 3em;
}

.cardTwo {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    padding: 3em;
}

.cardThree {
    display: flex;
}

