.gardenTitle {
    text-align: center;
}

.cardTips {
    display: flex;
    width: 50em;
    height: 30em;
    justify-content: space-around;
    align-items: center;
}

.modalButton {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

