.navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-style:none;
    border-radius: 12px;
    background-color: teal;
}

.nav__item {
    flex-basis: 20%;
    list-style-type: none;
}
.nav__link {
    color: gainsboro;
    text-decoration: none;
}